:root {
  --grey-05: rgba(0, 0, 0, 0.05);
  --grey-1: rgba(0, 0, 0, 0.1);
  --grey-2: rgba(0, 0, 0, 0.2);
  --grey-3: rgba(0, 0, 0, 0.3);
  --grey-5: rgba(0, 0, 0, 0.5);

  --purple: #542189;
  --blue: #0000fe;
  --red: #fb3347;
  --brown: #887744;
  --light-brown: #f7f5ec;

  --purple-transparent: rgba(84, 33, 137, 0.1);
  --blue-transparent: rgba(0, 0, 254, 0.1);
  --red-transparent: rgba(251, 51, 71, 0.1);

  --white: white;
  --black: black;
}
