:root {
  --font-serif: 'PT Serif';
  --font-sans-serif: 'PT Sans', sans-serif;

  --nav-width: 200px;
  --right-column-width: 28%;
  --right-column-max-width: 240px;
  --right-column-padding: 60px;

  --header-background: #526850;

  --background-color: var(--white);
  --text-color: var(--black);
  --link-color: var(--blue);
  --link-border-color: var(--blue-transparent);
  --link-border-color-visited: var(--purple-transparent);
  --link-border-color-hover: var(--red-transparent);
  --link-color-visited: var(--purple);
  --active-nav: var(--red);
  --figcaption: var(--grey-5);
  --blockquote-background: var(--light-brown);
  --blockquote-before-background: var(--grey-1);
  --mark-color: var(--black);
  --footer-links-color: var(--grey-5);
  --footer-links-color-hover: var(--black);
  --footer-links-border-color: var(--grey-2);
  --footer-links-border-color-hover: var(--grey-3);
}

@media (max-width:1060px) {
  :root {
    --nav-width: 160px;
    --right-column-width: 25%;
    --right-column-max-width: 220px;
    --right-column-padding: 40px;
  }
}