:root {
  --font-serif: 'PT Serif';
  --font-sans-serif: 'PT Sans', sans-serif;

  --nav-width: 200px;
  --right-column-width: 28%;
  --right-column-max-width: 240px;
  --right-column-padding: 60px;

  --grey-1: rgba(0,0,0,.1);
  --grey-2: rgba(0,0,0,.2);
  --grey-3: rgba(0,0,0,.3);
  --grey-5: rgba(0,0,0,.5);

  --grey-1-dark: rgba(255,255,255,.1);
  --grey-2-dark: rgba(255,255,255,.2);
  --grey-3-dark: rgba(255,255,255,.3);
  --grey-5-dark: rgba(255,255,255,.5);

  --header-background: #526850;

  --light-brown: #f7f5ec;
  --light-brown-dark: #44475a;
  --brown: #887744;
  --purple: #542189;
  --purple-dark: #bd93f9;
  --blue: #0000fe;
  --blue-dark: #008bfe;
  --red: #fb3347;
  --red-dark: #ff5555;
  --background-color: var(--white);
  --text-color: var(--black);
  --link-color: var(--blue);
  --link-border-color: var(--blue-transparent);
  --link-border-color-visited: var(--purple-transparent);
  --link-border-color-hover: var(--red-transparent);
  --link-color-visited: var(--purple);
  --active-nav: var(--red);
  --figcaption: var(--grey-5);
  --blockquote-background: var(--light-brown);
  --blockquote-before-background: var(--grey-1);
  --mark-color: var(--black);
  --footer-links-color: var(--grey-5);
  --footer-links-color-hover: var(--black);
  --footer-links-border-color: var(--grey-2);
  --footer-links-border-color-hover: var(--grey-3);

  --purple-transparent: rgba(84, 33, 137, .1);
  --purple-transparent-dark: rgba(189, 147, 249, .1);
  --blue-transparent: rgba(0, 0, 254, .1);
  --blue-transparent-dark: rgba(0, 139, 254, .3);
  --red-transparent: rgba(251, 51, 71, .1);
  --red-transparent-dark: rgba(251, 51, 71, .3);

  --white: white;
  --white-dark: #282a36;
  --black: black;
  --black-dark: #f8f8f2;
}

@media (max-width:1060px) {
  :root {
    --nav-width: 160px;
    --right-column-width: 25%;
    --right-column-max-width: 220px;
    --right-column-padding: 40px;
  }
}