.footer-socials {
  text-align: center;
  margin: auto;
  display:block;
  padding:20px 0 15px;
}

.footer-links {
  font-size:0.7rem;
  padding:0 0 25px 0;
  font-family: var(--font-sans-serif);
}

.footer-links ul {
  display:flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-links li {
  list-style: none;
  padding:0 0.5rem;
}

.footer-links a {
  color: var(--footer-links-color);
  border-color: var(--footer-links-border-color);
}

.footer-links a:hover {
  color:var(--footer-links-color-hover);
  border-color: var(--footer-links-border-color-hover);
}

.footer .grid {
  justify-content: space-between;
}

.footer .column {
  width:auto;
  flex:auto;
}

.footer .likely .likely__counter {
  display:none;
}
.footer .likely .likely__button {
  font-size:0.7rem;
}


@media (max-width:980px) {
  .footer .likely .likely__button,
  .footer-links {
    font-size:0.8rem;
  }
}


@media (max-width:800px) {
  .footer-links ul {
    line-height: 1.6em;
    text-align: center
  }
  .footer-links li {
    width:100%;
  }
}


@media (max-width:480px) {
  .footer .likely__button  {
    display:none;
  }
}