* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

html {
  /* fallback */
  font-family: 'PT Serif';
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  font-family: var(--font-serif);
  line-height: 1.4em;
  font-size: 18px;
  color:var(--text-color);
  background: var(--background-color);
  min-width:320px;
}

body {
  background-color: var(--background-color);
}

body.dark {
  --background-color: var(--dark);
  --text-color: var(--light);
  --link-color: var(--blue-light);
  --link-border-color: var(--blue-transparent-light);
  --link-border-color-visited: var(--purple-transparent-light);
  --link-border-color-hover: var(--red-transparent-light);
  --link-color-visited: var(--purple-light);
  --active-nav: var(--red-light);
  --figcaption: var(--grey-5-light);
  --blockquote-background: var(--gun-powder);
  --blockquote-before-background: var(--grey-1-light);
  --mark-color: var(--light);
  --footer-links-color: var(--grey-5-light);
  --footer-links-color-hover: var(--light);
  --footer-links-border-color: var(--grey-2-light);
  --footer-links-border-color-hover: var(--grey-3-light);
}

h1, h2, h3, h4, h5, h6 {
  /* fallback */
  font-family: 'PT Sans', sans-serif;

  font-family: var(--font-sans-serif);
}

h1 {
  font-size: 2.45rem;
  line-height:2.8rem;
  margin-bottom: 0.6rem;
}

h2 {
  font-size: 1.75rem;
  line-height: 2.05rem;
  margin-bottom: 0.6rem;
}

h3 {
  margin: 1rem 0 -1rem;
  font-size: 1rem;
}

p {
  margin-top:1rem;
}

h2 + p,
h1 + p {
  margin-top: 0;
}

blockquote {
  /* fallback */
  background: #f7f5ec;

  margin:1.6rem 0;
  padding: 1.3rem 3rem 1.8rem;
  display:block;
  background: var(--blockquote-background);
  position: relative;
}
blockquote:last-child {
  margin-bottom:0;
}

blockquote:before {
  content: '«';
  position: absolute;
  left: 1rem;
  top: .9rem;
  color: var(--blockquote-before-background);
  font-size: 3.2rem
}

blockquote p:first-child {
  margin-top:0;
}

figure {
  margin-bottom: 3rem;
}

figure.is-in-content,
.section figure.is-in-content,
figure.is-mobile-content,
.section figure.is-mobile-content {
  margin: 1.5rem auto 2rem;
  max-width:500px;
}

figure.is-mobile-content,
.section figure.is-mobile-content {
  max-width:320px;
}

figcaption {
  font-style: normal;
  font-size: 0.8rem;
  line-height:1.2em;
  padding-top:0.3rem;
  color:var(--figcaption);
  text-align: center;
  font-family: var(--font-sans-serif);
}

mark {
  color: var(--mark-color);
  display: block;
  margin:0;
  padding: 1.8rem 0 1.5rem 3rem;
  font-size: 1.6rem;
  line-height: 1.3em;
  background: none;
  font-family: var(--font-serif);
}

.is-decorated img {
  box-shadow: 0 1px 2px var(--grey-2);
}

a {
  color:var(--link-color);
  text-decoration: none;
  border-bottom:1px solid var(--link-border-color);
}
a:visited {
  color: var(--link-color-visited);
  border-bottom-color:var(--link-border-color-visited);
}
a:hover {
  color:var(--red);
  border-bottom-color:var(--link-border-color-hover);
}


.is-visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.smallcaps {
  font-size: 0.875em;
  letter-spacing: 0.15em;
  margin-right: -0.15em;
  text-transform: uppercase;
}

.emoji {
  margin-left:0.2em;
}

.force-full-width {
  width:100%;
}

@media (max-width:980px) {
  html {
    font-size:16px;
  }
}


@media (max-width:800px) {
  mark {
    padding: 1.5rem 0 1.5rem 2rem;
  }

  figcaption {
    font-size:0.9rem
  }
}


@media (max-width:640px) {
  html {
    font-size:14px;
    line-height:1.5em;
  }

  blockquote {
    padding: 1.1rem 1rem 1.3rem 2rem;
    margin: 1.4rem 0;
  }

  blockquote:before {
    left: 0.6rem;
    top: .8rem;
    font-size: 2.2rem;
  }

  mark {
    font-size: 1.3rem;
    line-height: 1.3em;
    padding: 1.3rem 0 0.8rem 2rem;
  }

  mark:last-child {
    padding-bottom:0;
  }
}