* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  font-family: var(--font-serif);
  line-height: 1.4em;
  font-size: 18px;
  color:var(--black);
  background: white;
  min-width:320px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans-serif);
}

h1 {
  font-size: 2.45rem;
  line-height:2.8rem;
  margin-bottom: 0.6rem;
}

h2 {
  font-size: 1.75rem;
  line-height: 2.05rem;
  margin-bottom: 0.6rem;
}

h3 {
  margin: 1rem 0 -1rem;
  font-size: 1rem;
}

p {
  margin-top:1rem;
}

h2 + p,
h1 + p {
  margin-top: 0;
}

blockquote {
  margin:1.6rem 0;
  padding: 1.3rem 3rem 1.8rem;
  display:block;
  background: var(--light-brown);
  position: relative;
}
blockquote:last-child {
  margin-bottom:0;
}

blockquote:before {
  content: '«';
  position: absolute;
  left: 1rem;
  top: .9rem;
  color: var(--grey-1);
  font-size: 3.2rem
}

blockquote p:first-child {
  margin-top:0;
}

figure {
  margin-bottom: 3rem;
}

figure.is-in-content,
.section figure.is-in-content,
figure.is-mobile-content,
.section figure.is-mobile-content {
  margin: 1.5rem auto 2rem;
  max-width:500px;
}

figure.is-mobile-content,
.section figure.is-mobile-content {
  max-width:200px;
}

figcaption {
  font-style: normal;
  font-size: 0.8rem;
  line-height:1.2em;
  padding-top:0.3rem;
  color:var(--grey-5);
  text-align: center;
  font-family: var(--font-sans-serif);
}

mark {
  display: block;
  margin:0;
  padding: 1.8rem 0 1.5rem 3rem;
  font-size: 1.5rem;
  line-height: 1.3em;
  background: none;
  font-weight: bold;
  font-family: var(--font-serif);
}

.is-decorated img {
  box-shadow: 0 1px 2px var(--grey-2);
}

a {
  color:var(--blue);
  text-decoration: none;
  border-bottom:1px solid var(--blue-transparent)
}
a:visited {
  color: var(--purple);
  border-bottom-color:var(--purple-transparent)
}
a:hover {
  color:var(--red);
  border-bottom-color:var(--red-transparent)
}


.is-visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.smallcaps {
  font-size: 0.875em;
  letter-spacing: 0.15em;
  margin-right: -0.15em;
  text-transform: uppercase;
}

.emoji {
  margin-left:0.2em;
}

@media (max-width:980px) {
  html {
    font-size:16px;
  }
}


@media (max-width:800px) {
  mark {
    padding: 1.5rem 0 1.5rem 2rem;
  }

  figcaption {
    font-size:0.9rem
  }
}


@media (max-width:640px) {
  html {
    font-size:14px;
    line-height:1.5em;
  }

  blockquote {
    padding: 1.1rem 1rem 1.3rem 2rem;
    margin: 1.4rem 0;
  }

  blockquote:before {
    left: 0.6rem;
    top: .8rem;
    font-size: 2.2rem;
  }

  mark {
    font-size: 1.3rem;
    line-height: 1.3em;
    padding: 1.3rem 0 1.1rem 2rem
  }
}