.header {
  position: relative;
  min-height: 540px;
  display: flex;

  background-color: var(--header-background);
  background-image: url(../img/sad-frontender.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  color: white;
  text-shadow: 1px 2px 2px var(--grey-3);
  font-size: 2rem;
  line-height: 1.3em;
  text-align: center;
}

@supports (height: 100vh) {
  .header {
    height: 100vh;
  }
}

.header h1 {
  font-size: 6rem;
  line-height: 1em;
  margin-bottom: 2.5rem;
}

.header .content {
  padding: 20px 60px;
  margin: auto;
  font-family: var(--font-sans-serif);
}

.header .copyright {
  color: rgba(255, 255, 255, 0.4);
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 0.6rem;
  line-height: 1.2em;
  text-align: right;
  width: 70%;
}

@media (max-width: 800px) {
  .header h1 {
    font-size: 3.5rem;
    margin-bottom: 1.2rem;
  }
}

@media (max-width: 640px) {
  .header {
    font-size: 1.2rem;
    line-height: 1.3em;
  }
  .header h1 {
    font-size: 2.2rem;
  }
  .header .content {
    padding: 0 25px;
    max-width: 380px;
  }
  .header .copyright {
    font-size: 0.8rem;
  }
}
