.nav {
  position: relative;
  padding:3.5rem 0 2rem;
  max-height:100vh;
  overflow: scroll;
  top:0;
  font-size: 0.9rem;
  line-height:1.25em;
  font-family: var(--font-sans-serif);
}

/* scroll inside sticky-container doesn't work properly, 
 * so we have to implement it manually I guess */
.nav.is-fixed {
  /* fallback */
  width: 200px;

  width: var(--nav-width);
  position: fixed;
  top:0;
}

.nav ul,
.nav li {
  list-style: none;
}

.nav li {
  margin-bottom:0.6rem;
}

.nav a {
  text-decoration: none;
}


@media (min-width:901px) {
  .nav a.is-active {
    border:0;
    color:black;
    cursor: default;
  }
}


@media (max-width:900px) {
  .nav,
  .nav.is-fixed {
    padding-top:0;
    position: relative;
    max-height:100000vh;
    height:auto;
    width:100%;
  }

  .nav {
    font-size: 1rem;
  }
}