.nav {
  position: relative;
  padding: 3.5rem 0 2rem;
  max-height: 100vh;
  overflow: auto;
  top: 0;
  font-size: 0.9rem;
  line-height: 1.25em;
  font-family: var(--font-sans-serif);
  background-color: var(--background-color);
}

.nav ul,
.nav li {
  list-style: none;
}

.nav li {
  margin-bottom: 0.6rem;
}

.nav a {
  text-decoration: none;
}

.nav-toggle {
  margin-bottom: 1.2rem;
}

@media (min-width: 901px) {
  .nav a.is-active {
    border: 0;
    color: var(--active-nav);
    cursor: default;
  }
}

@media (max-width: 900px) {
  .nav {
    padding-top: 0;
    position: relative;
    max-height: 100000vh;
    height: auto;
    width: 100%;
  }

  .nav {
    font-size: 1rem;
  }
}
