.section {
  padding: 3.5rem 0 1rem;
  display:flex;
}

.preface {
  padding:5rem 0 3rem;
  min-height:100vh;
}
.preface .center {
  margin:auto;
}

.section figure {
  max-width:100%;
}

.section figure img {
  max-width:100%;
}

.section .is-inside {
  margin-top:-1.6rem;
}

.section-link {
  font-size: 0.6em;
  display: inline-block;
  vertical-align: top;
  border: 0;
  margin: 0 0 0 .1rem;
  padding: 0 0 0 .1rem;
  width: 2rem;
  height: 2rem;
  line-height: 2.3rem;
  text-align: center;
  border-radius: 50%;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.1s, background 0.2s;
  will-change: opacity, background;
}
h2:hover .section-link {
  opacity: 1;
}
.section-link:hover {
  background: var(--light-brown);
}

.tutorials,
.caption {
  font-size: .8rem;
  line-height:1.2em;
}

.caption {
  margin-bottom:.3rem;
  font-weight: 700;
}

.tutorials li {
  margin-bottom:.6rem;
}

.tutorials + .caption {
  margin-top: 2rem
}