.section {
  padding: 3.5rem 0 1rem;
  display:flex;
}

.preface {
  padding:5rem 0 3rem;
  min-height:100vh;
}
.preface .center {
  margin:auto;
}

.section figure {
  max-width:100%;
}

.section figure img {
  max-width:100%;
}

.section .is-inside {
  margin-top:-1.6rem;
}

.tutorials,
.caption {
  font-size: .8rem;
  line-height:1.2em;
}

.caption {
  margin-bottom:.3rem;
}

.tutorials li {
  margin-bottom:.6rem;
}

.tutorials + .caption {
  margin-top: 1.5rem
}