.section {
  padding: 3.5rem 0 1rem;
  display:flex;
}

.section.has-no-padding {
  padding-top:0
}

.preface,
.afterwords {
  padding:5rem 0 3rem;
  min-height:100vh;
}
.preface .center,
.afterwords .center {
  margin:auto;
}

.section figure {
  max-width:100%;
}

.section figure img {
  max-width:100%;
}

.section .is-inside {
  margin-top:-1.6rem;
}

.section-link {
  font-size: 0.6em;
  display: inline-block;
  vertical-align: top;
  border: 0;
  margin: 0 0 0 .1rem;
  padding: 0 0 0 .1rem;
  width: 2rem;
  height: 2rem;
  line-height: 2.3rem;
  text-align: center;
  border-radius: 50%;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.1s, background 0.2s;
  will-change: opacity, background;
}
h2:hover .section-link {
  opacity: 1;
}
.section-link:hover {
  background: var(--light-brown);
}

.tutorials,
.caption {
  font-size: .8rem;
  line-height:1.3em;
}

.caption {
  margin-bottom:.3rem;
  font-weight: 700;
  font-family: var(--font-sans-serif)
}

.tutorials li {
  margin-bottom:.6rem;
}
.tutorials li.list-section {
  padding-top:0.4rem;
}

.tutorials + .caption {
  margin-top: 2rem
}

.insert {
  padding:1.8rem 0;
}
.insert:last-child {
  padding-bottom:0;
}

.insert .column {
  width:50%;
  padding:0 1rem 0 1.5rem
}

.insert .caption,
.insert .tutorials {
  font-size:0.9rem;
  line-height:1.3rem;
}


.section .tableContainer {
  margin: 0.5rem 0 1.7rem;
  /* overflow: scroll; */
  /* -webkit-overflow-scrolling: touch; */
}

.section table {
  padding:0;
  border-collapse: collapse;
  font-size: 0.9rem;
  line-height:1.3em;
  width:100%;
  /* min-width:500px; */
}

.section td {
  padding: .6rem 1rem .7rem;
  margin:0;
  border:0;
  vertical-align: top;
  border-bottom:1px solid #e8e8e8;
  border-right:1px solid #e8e8e8;
  width:50%;
}

.section td:last-child {
  border-right:0;
}
.section tr:last-child td {
  border-bottom:0;
}



@media (max-width:1060px) {
  .caption,
  .tutorials,
  .insert .caption,
  .insert .tutorials {
    line-height: 1.4em
  }
}


@media (min-width:801px) {
  .section figure.is-mobile-content {
    display:none;
  }
}


@media (max-width:900px) {
  .section-link {
    opacity: 1;
  }
}


@media (max-width:800px) {
  .section {
    padding-top:3rem;
  }

  .section .is-inside {
    margin-top:0;
  }

  .caption,
  .tutorials,
  .insert .caption,
  .insert .tutorials {
    font-size:1rem;
    margin-left:2rem;
  }

  aside .tutorials:last-child {
    margin-bottom: -0.4rem;
  }

  aside .caption:first-child,
  aside figure + .caption {
    margin-top: 1.5rem;
  }

  .insert .caption {
    font-weight: 700;
  }

  .insert .column {
    padding-left:0;
    padding-bottom:0;
    margin-bottom:0;
  }

  .insert {
    padding: 1.8rem 0 1rem;
  }

  aside figure {
    display:none;
  }

  .section.preface,
  .section.afterwords {
    min-height: 200px;
    padding: 4rem 0 2rem;
  }
}


@media (max-width:640px) {
  .section {
    padding-bottom:0;
  }

  .insert .column {
    width:100%;
    padding:0;
  }

  .insert .column + .column {
    margin-top:1.5rem;
  }

  .tutorials + .caption {
    margin-top: 1.5rem
  }
}


@media (max-width:540px) {
  .section .tableContainer {
    margin-left:-1.2rem;
    margin-right:-1.2rem;
  }
  .section td {
    padding-left: 1.2rem
  }
}