.slide {
  position: relative;
}

.slide img {
  width:48%; 
  height:auto;
  display:block;
  margin:auto;
}

.slide figure {
  display:flex;
  justify-content: space-between
}

.image {
  position: absolute;
  margin:auto;
  height:auto;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}



.slide--dream {
  background: url(../i/freelance-dream.jpg) no-repeat center;
  background-size: cover;
}

.slide--dream h2 {
  color:white;
  width:block;
  max-width:400px;
  margin: 20px 0 0 -50px;
  font-size: 80px;
}



.slide--techs {
  display:flex;
}

.slide--techs .image--chrome {
  width: 240px;
  margin-top:60px;
  margin-left:-15px;
  z-index:6;
}
.slide--techs .image--es6 {
  width:230px;
  margin-left: -330px;
  margin-top: -160px;
}
.slide--techs .image--rav {
  width: 420px;
  z-index:5;
  margin-left: 290px;
  margin-top:-80px;
}
.slide--techs .image--components {
  width: 320px;
  margin-top: 170px;
  margin-left: 290px;
}
.slide--techs .image--psd {
  width: 260px;
  margin-top: 150px;
  margin-left: -320px;
}
.slide--techs .image--verified {
  width: 80px;
  margin-top: 214px;
  margin-left: -255px;
}
.slide--techs .image--plane {
  width: 500px;
  margin-top: -200px;
  margin-left: -30px;
  z-index:10;
}


.slide--reals {
  display:flex;
}

.slide--reals .image--helpers {
  width: 400px;
  margin-left: -50px;
}
.slide--reals .image--crossbrowser {
  width: 800px;
  margin-top: -220px;
}
.slide--reals .image--ie8 {
  width: 190px;
  margin-top: -220px;
  opacity: 0.5;
  margin-left:-120px;
}
.slide--reals .image--safari {
  width: 160px;
  margin-left: -180px;
  margin-top: -230px;
}
.slide--reals .image--no-support {
  width: 600px;
  margin-top: 220px;
}
.slide--reals .image--designer {
  width: 270px;
  margin-left: -390px;
}
.slide--reals .image--deadline {
  width: 340px;
  margin-left: 330px;
}
.slide--reals .image--facebook {
  width: 700px;
}
.many-psds,
.many-psds:after,
.many-psds:before {
  content:' ';
  display:block;
  left: -50px;
  top: -10px;
  bottom: 0;
  width: 100px;
  background: url(../i/i-psd.svg) repeat-y;
  background-size: contain;
  position: absolute;
}

.many-psds:before {
  left:50px;
  top:10px;
}
.many-psds:after {
  left:100px;
  top:20px;
}