:root {
  --font-serif: 'PT Serif';
  --font-sans-serif: 'PT Sans', sans-serif;

  --header-background: #526850;

  --grey-3: rgba(0,0,0,.3);
  --grey-5: rgba(0,0,0,.5);
 
  --white: white;
  --black: black;
}